{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CPL Football Draft{% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'CPL/styleBase.css' %}">
</head>
<body>
    <nav class="cpl-navbar">
        <div class="cpl-navbar-brand-group">
            <img src="{% static 'CPL/logo.png' %}" alt="Logo" class="cpl-navbar-logo">
            <a class="cpl-navbar-brand" href="{% url 'home' %}">CPL Football Draft</a>
        </div>
        <ul class="cpl-navbar-links">
            {% if user.is_authenticated and user.role %}
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url user.role|add:':dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li>
                    <form action="{% url 'profile' %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="subsmit" name="logout" class="btn btn-link p-0 m-0 align-baseline" style="color: #c0c8d6; text-decoration: none;">
                            Logout
                        </button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    
    

    <div class="container" style="padding-top: 100px;">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
